// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.comment {
  // @extend .border, .rounded, .mb-2;
	// @extend .mt-4;

  border-width: 2px;
  .author {
    // @extend .text-secondary, .font-italic, .p-2;
    background: primary;
    // background: lighten($blue, 45);
    // border-bottom: 1px solid lighten($blue, 35);
    border-bottom: 1px solid --bs-border-color;
  }
  .text {
    // @extend .p-2;
  }
  p:last-of-type {
    margin-bottom: 0;
  }	
}

.state_change {
	// @extend .my-2;
}

